body {
	padding: 0;
	margin: 0 auto;
	width: 1440px;
}
.top-bar {
	height: 35px;
	display: flex;
	padding: 0px 90px 0px 100px;
	justify-content: space-between;
}
.top-bar .block-1, .top-bar .block-2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none; 
	color: #2e2771;
	font-family: 'Cuprum', sans-serif;
	font-family: 'Fira Sans', sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.top-bar .block-1 {
	width: 750px;
}
.top-bar .block-2 {
	width: 220px;
	justify-content: space-around;
}

.line {
	background-color: rgb(226, 226, 237);
	height: 1px;
}

.bar {
	width: 1440px;
	height: 125px;
}
.bar-inner {
	width: 1239px;
	height: 78px;
	font-family: 'Cuprum', sans-serif;
	font-family: 'Fira Sans', sans-serif;
	font-size: 10pt;
	margin: 0 auto;
	padding-top: 23px;
	display: flex;
	justify-content: space-between;
}
.bar-inner ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.bar .text {
	color: #393185;
}
.bar-inner .block-1, .bar-inner .block-4 {
	height: 78px;
} 
.bar-inner .block-1 {
	width: 170px;
}
.bar-inner .block-2 {
	width: 310px;
	padding-left: 30px;
}
.bar-inner .block-2 ul li:first-child {
	font-weight: bold;
}
.bar-inner .block-3 {
	width: 300px;
}
.bar-inner .block-4 {
	width: 210px;
}
.bar-inner .block-1 .text {
	padding-top: 11px;
	font-weight: bold;
}
.bar-inner .block-4 .text {
	padding-top: 18px;
}
.bar-inner .bl-inner {
	display: flex;
}
.bar-inner .mark {
	padding-right: 20px;
}
.bar-inner .block-2 .text, .bar-inner .block-3 .text {
	padding-top: 30px;
    padding-left: 35px;
}

.main-menu {
	width: 1440px;
	height: 75px;
	background-color: #393185;
}
.main-menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.main-menu ul li {
	float: left;
	text-align: center;
	padding-left: 100px;
}
.main-menu ul li img {
	padding-bottom: 10px;
    padding-left: 34px;
}
.main-menu ul li a {
	text-decoration: none;
	color: white;
	display: block;
	font-family: 'Cuprum', sans-serif;
	font-size: 25pt;
	text-transform: uppercase;
	line-height: 75px;
}

.banner {
	background: url(../img/banner.jpg) no-repeat;
	height: 660px;
	position: relative;
}
.banner .text {
	width: 890px;
    margin-left: 100px;
	padding-top: 40px;
	color: white;
	font-size: 79pt;
	font-family: 'Cuprum', sans-serif;
	text-transform: uppercase;
}
.banner .view-print {
	color: white;
	width: 1340px;
	height: 256px;
	display: flex;
	justify-content: space-between;
    margin-top: 120px;
	position: absolute;
}
.view-print .sub-print-1 {
	height: 256px;
	width: 187px;
	background-color: #393185;
}
.view-print .sub-print-1 ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
.view-print .sub-print-1 ul li {
	list-style: none;
	border-bottom: 1px solid rgb(71, 61, 148);
	text-align: center;
}
.view-print .sub-print-1 ul li:last-child {
	border-bottom: none;
}
.view-print .sub-print-1 ul li a {
	text-decoration: none;
	color: white;
	display: block;
	font-size: 14pt;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 14px; 	
	font-family: 'Cuprum', sans-serif;
	font-family: 'Fira Sans', sans-serif;
	text-align: left;
}
.view-print .sub-print-1 ul li a:hover {
	background-color: rgb(229, 10, 98);
}
.view-print .text-1 {
	font-family: 'Cuprum', sans-serif;
	font-family: 'Fira Sans', sans-serif;
	font-size: 30px;
	width: 290px;
	height: 256px;
}
.view-print .sub-print-2 {
	width: 230px;
	height: 256px;
}
.view-print .sub-print-2 ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
.view-print .sub-print-2 ul li {
	list-style: none;
}
.view-print .sub-print-2 ul li a {
	text-decoration: none;
	color: white;
	display: block;
	font-size: 14pt;
	padding-bottom: 28px;
	font-family: 'Cuprum', sans-serif;
	font-family: 'Fira Sans', sans-serif;
	text-align: left;
}
.view-print .sub-print-2 img {
	padding-right: 20px;
}
.view-print .sub-print-3 {
	width: 294px;
	height: 256px;
}
.view-print .sub-print-3 ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
.view-print .sub-print-3 ul li {
	list-style: none;
	padding-bottom: 15px;
	font-size: 27pt;
	font-weight: bold;
}

.popular {
	width: 1440px;
	height: 993px;
	padding-top: 85px;
}
.separator {
	display: flex;
}
.red-line {
	background-color: rgb(229, 10, 98);
	width: 84px;
	height: 3px;
	margin-left: 100px;
	margin-top: 11px;
}
.popular .text, .price .text {
	font-family: 'Cuprum', sans-serif;
	text-transform: uppercase;
	font-size: 14pt;
	color: #393185;
	font-weight: bold;
	padding-left: 125px;
}
.blocks {
	width: 925px;
	margin-left: 309px;
	margin-top: 40px;
}
.popular .tiraj {
	width: 295px;
	height: 250px;
	margin-right: 20px;
	margin-bottom: 40px;
	float: left;
}
.popular .tiraj:last-child {
	margin-top: 50px;
}
.popular .tiraj:nth-child(3), 
.popular .tiraj:nth-child(6)  {
	margin-right: 0;
}
.popular p a {
	font-family: 'Cuprum', sans-serif;
	font-size: 12pt;
	color: #393185;
	font-weight: bold;
}

.price .separator {
	padding-bottom: 40px;
}
.first {
	width: 925px;
	height: 380px;
	border: 1px solid rgb(225, 234, 241);
	margin-left: 309px;
}
thead {
	background: #393185;
	font-family: 'Cuprum', sans-serif;
	font-size: 15pt;
	color: white;
}
tbody {
	text-align: center;
	font-family: 'Cuprum', sans-serif;
}
table thead .name {
	text-align: left;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 15px;
}
table tbody .name {
	text-align: left;
	padding-left: 20px;	
}
th, td {
	padding-top: 0;
	padding-bottom: 0;
}
.first tbody tr:nth-child(odd) {
    background-color: #f2f7fb;/* фон нечетных строк */
}
.additional {
	height: 120px;
	margin-left: 309px;
	width: 925px;
	border-bottom: 1px solid rgb(225, 234, 241);
}
.additional tr {
	height: 40px;
}
.additional tr td {
	text-align: left;
	padding-left: 20px;
	font-size: 13pt;
	padding-top: 20px;
}
.additional .first_row {
	font-family: 'Cuprum', sans-serif;
	font-weight: bold;
	color:  #393185;
}
.additional .third_row {
	padding-bottom: 20px;
	padding-top: 0;
}

.video {
	margin-left: 309px;
	margin-top: 80px;
}

.payment_options {
	margin-top: 80px;
}
.payment_options .text-1, .payment_options .text-2 {
	font-family: 'Cuprum', sans-serif;
	text-transform: uppercase;
	font-size: 14pt;
	color: #393185;
	font-weight: bold;
	padding-left: 125px;
}
.payment_options .text-1 {
	padding-right: 410px;
}
.conteiner {
	width: 940px;
	height: 260px;
	margin-left: 309px;
	margin-top: 40px;	
}
.conteiner div {
	width: 310px;
	height: 130px;
	position: relative;
	float: left;
}
.conteiner div div {
	border-radius: 50%;
	background-color: rgb(236, 245, 253);
	width: 116px;
	height: 116px;
}
.conteiner div div img {
	margin-right: 30px;
	position: absolute;
    top: 21px;
    left: 24px;
}
.conteiner div .text {
	border-radius: 0;
	background-color: white;
	width: 176px;
}
.conteiner div p {
	position: absolute;
    top: 21px;
    left: 54px;
	font-family: 'Cuprum', sans-serif;
	font-weight: bold;
	color:  #393185;
}

.answer {
	margin-top: 70px;
}
.answer .text-1 {
	font-family: 'Cuprum', sans-serif;
	text-transform: uppercase;
	font-size: 14pt;
	color: #393185;
	font-weight: bold;
	padding-left: 125px;
}
.answer div img {
	margin-top: 75px;
	margin-left: 95px;
}
.answer-inner {
	width: 1440px;
	display: flex;
}
.answer-inner .how-to-order .order-title {
	display: flex;
    justify-content: space-between;
    padding-left: 38px;
    padding-right: 38px;
}
.answer-inner .how-to-order .order-title p {
	font-family: 'Cuprum', sans-serif;
	font-size: 14pt;
	color: #393185;
	font-weight: bold;
}
.answer-inner .how-to-order .order-title p:last-child {
	font-family: 'Cuprum', sans-serif;
	font-size: 14pt;
	color: #393185;
	font-weight: normal;
}
.order-title p img {
	padding-left: 20px;
	margin: 0;
}
.how-to-order {
	width: 925px;
	height: 314px;
	background-color: #f5fafe;
	margin-top: 35px;
	margin-left: 125px;
}
.how-to-order .text {
	padding-left: 38px;
	padding-right: 38px;
}	
.how-to-order .text ul {
	padding: 0;
	margin: 0;
}
.how-to-order .text ul li {
	font-family: 'Cuprum', sans-serif;
	font-size: 13pt;
	color: #303030;
	padding-bottom: 40px;
	list-style-type: decimal;
}
.how-to-order .text ul li:last-child {
	padding-bottom: 0;
}
.how-to-order .text ul li:first-child {
	padding-top: 20px;
}

.list {
	width: 925px;
	height: 256px;
}
.list div {
	margin-left: 309px;
	margin-top: 40px;
}
.list div ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.list div ul li {
	padding-bottom: 30px;
}
.list div ul li:last-child {
	padding-bottom: 0;
}
.list div ul li a {
	font-family: 'Cuprum', sans-serif;
	color: #393185;
	font-size: 14pt;
}

.text-over {
	width: 395px;
	height: 50px;
	background-color: white;
	display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
    top: 120px;
    left: 555px;
	z-index: 1;
}
.text-over p {
	font-size: 20pt;
	font-family: 'Cuprum', sans-serif;
	text-transform: uppercase;
	color: #393185;
	font-weight: bold;
}
.over {
	box-sizing: border-box;
	width: 925px;
	height: 599px;
	border: 10px solid #393185;
	margin-top: 90px;
	margin-left: 309px;
	z-index: 10;
    opacity: 0.8;
}
.form {
	width: 929px;
	height: 603px;
	background-color: #ecf5fd;
	margin-top: -553px;
    margin-left: 354px;
}
input {
	width: 355px;
	height: 95px;
	text-align: left;
	border-bottom: 3px solid #393185;;
	border-top: #ecf5fd;
	border-left: #ecf5fd;
	border-right: #ecf5fd;
	background-color: #ecf5fd;
	font-family: 'Cuprum', sans-serif;
	color: #393185;
	font-size: 14pt;
}
input:first-child {
	margin-left: 60px;
	border-bottom: opacity: (0.8);
}
input:nth-child(3) {
	margin-left: 60px;
}
input:nth-child(5) {
	width: 714px;
	height: 166px;
	margin-left: 60px;
}
input:nth-child(6) {
	width: 295px;
	height: 53px;
	background-color: #e50a62;
	border-bottom: 0;
	color: white;
	margin-top: 85px;
	margin-left: 270px;
	text-align: center;
}

.last-questions {
	margin-top: 86px;
}
.separator .text-1 {
	font-family: 'Cuprum', sans-serif;
	text-transform: uppercase;
	font-size: 14pt;
	color: #393185;
	font-weight: bold;
	padding-left: 125px;
}
.last-questions .questions-wrapper {
	margin-top: 50px;
	display: flex;
	margin-left: 309px;
}
.questions-content {
	box-sizing: border-box;
	width: 306px;
	height: 357px;
	border: 1px solid #e6f0f8;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: flex-start;
    padding-top: 35px;
}
.questions-content p {
	padding: 0;
	margin: 0;
}
.questions-content p:first-child {
	font-family: 'Cuprum', sans-serif;
	font-size: 24pt;
}
.questions-content p:nth-child(2) {
	font-family: 'Cuprum', sans-serif;
	font-size: 24pt;
	color: #393185;
	font-weight: bold;
	padding-bottom: 30px;
}
.questions-content p a {
	font-family: 'Cuprum', sans-serif;
	color: #393185;
	font-size: 14pt;
	font-weight: bold;
}
.questions-content p:nth-child(4) {
	font-family: 'Cuprum', sans-serif;
	color: #393185;
	padding-top: 20px;
}
.questions-content .letter {
	padding-bottom: 51px;
}
.questions-content .plan {
	padding-bottom: 12px;	
}
.questions-content:hover {
	border: 3px solid #e50a62;
	cursor: pointer;
    box-shadow: 0px 30px 30px 10px rgba(229, 10, 98, 0.30);
}
.questions-content p a:hover {
	color: #e50a62;
	cursor: pointer;
}

.portfolio {
	margin-top: 80px;
}
.portfolio-inner {
	margin-left: 240px;	
	width: 1066px;
	margin-top: 55px;
	display: flex;
    align-items: center;
}
.portfolio-inner img {
	margin-right: 20px;
}
.portfolio-inner img:nth-child(4) {
	margin-right: 0;
}
.portfolio-inner img:first-child {
	padding-right: 50px;
	margin-right: 0;
}
.portfolio-inner img:last-child {
	margin-left: 50px;
	margin-right: 0;
}

.ceo, .ceo2, .ceo3, .ceo4 {
	width: 925px;
	margin-top: 95px;
	display: flex;
	justify-content: center;
	margin-left: 309px;
}
.ceo-inner, .ceo2-inner, .ceo3-inner, .ceo4-inner {
	width: 265px;
	height: 100px;
	margin-right: 45px;
}
.ceo-inner .line, .ceo2-inner .line, .ceo3-inner .line, .ceo4-inner .line {
	width: 265px;
	height: 4px;
	background-color: #e50a62; 
	margin-top: 30px;
}
.ceo-inner .text, .ceo2-inner .text, .ceo3-inner .text, .ceo4-inner .text {
	font-family: 'Cuprum', sans-serif;
	color: #393185;
	font-size: 15pt;
	font-weight: bold;
	width: 265px;
}
.ceo .ceo-text p, .ceo2 .ceo2-text p, .ceo3 .ceo3-text p, .ceo4 .ceo4-text p {
	padding-bottom: 30px;
	margin: 0;
	font-family: 'Cuprum', sans-serif;
	color: #303030;
	font-size: 14pt;
	text-align: left;
}
.ceo .ceo-text p:nth-child(2) {
	font-family: 'Cuprum', sans-serif;
	color: #393185;
	font-weight: bold;
}
.ceo2 {
	margin-top: 60px;
}
.ceo2-inner {
	height: 50px;
}
.ceo2 .ceo2-text p:first-child {
	color: #393185;
	font-weight: bold;
}
.ceo3 {
	margin-top: 70px;
}
.ceo3 .ceo3-text p, .ceo4 .ceo4-text p:last-child {
	padding-bottom: 0;
}
.ceo4 {
	margin-top: 75px;
}
.ceo4 .ceo4-text p:nth-child(3) {
	color: #393185;
	font-weight: bold;
}

.footer {
	width: 1440px;
	height: 552px;
	background-color: #2e2771;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 65px;
	position: relative;
}
.footer-inner {
	width: 1240px;
	height: 355px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}
.footer-inner .footer-text, .on-maps .footer-text {
	color: white;
	font-size: 16pt;
	font-family: 'Cuprum', sans-serif;
	text-transform: uppercase;
	padding-bottom: 25px;
	font-weight: bold;
}
.footer .line {
	width: 61px;
	height: 2px;
	background-color: #e50a62;
}
.footer-bl-1 {
	margin-right: 60px;
}
.footer-inner .footer-menu {
	margin-top: 30px;
}
.footer-inner .footer-menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer-inner .footer-menu ul li {
	padding-bottom: 2px;
}
.footer-inner .footer-menu ul li a {
	color: white;
	font-family: 'Cuprum', sans-serif;
	font-size: 13pt;
	text-decoration: none;
}
.footer-inner .footer-menu ul li a:hover {
	color: #e50a62;
	cursor: pointer;
}	
.footer-bl-3 .footer-menu {
	margin-top: 82px;
}
.footer-bl-4 .footer-menu ul li {
	color: white;
	font-family: 'Cuprum', sans-serif;
	font-size: 13pt;
}
.footer-bl-4 .footer-menu ul li:nth-child(2),
.footer-bl-4 .footer-menu ul li:nth-child(5)	{
	padding-bottom: 27px;
}
.footer-bl-4 .footer-menu ul li:nth-child(7) {
	padding-bottom: 15px;

}
.footer-bl-4 .footer-menu ul li img:nth-child(3)
.footer-bl-4 .footer-menu ul li img:nth-child(6)															{
	padding-right: 30px;
}
.footer-bl-4 .footer-menu ul li p {
	margin: 0;
	display: inline;
    padding-left: 30px;
	font-weight: bold;	
}
.footer-bl-4 .footer-menu ul li:nth-child(4),
.footer-bl-4 .footer-menu ul li:nth-child(5),
.footer-bl-4 .footer-menu ul li:nth-child(7),
.footer-bl-4 .footer-menu ul li:nth-child(8) {
	padding-left: 46px; 
}
.footer-bl-4 .footer-menu ul li:nth-child(5),
.footer-bl-4 .footer-menu ul li:nth-child(8) {
	color: #b1c2e8;
}
.on-maps {
	margin-left: 100px;
	position: absolute;
	top: 499px;
    left: 1px;
}
.maps {
	background: url(../img/maps.jpg) no-repeat;
	width: 1440px;
	height: 548px;
	position: relative;
}
.maps img {
	position: absolute;
    top: 235px;
    left: 655px;
}






